<!doctype html>
<html>

<head>
  <title>Game Time</title>
</head>

<body>
    <h1> Enter Your Words </h1>
<form action= "/madlibs" name = "madlibs">
    <br>
  <label for="person">Person</label>
  <input type="text" name= "person">
  <br>
  <label for="color">Color</label>
  <input type= "text" name= "color">
  <br>
  <label for="noun">Noun</label>
  <input type= "text" name= "noun">
  <br>
  <label for="adj">Adjective</label>
  <input type= "text" name= "adj">
  <br>
  <input type= "submit" name = "Generate Madlib">
</form>
</body>

</html>